CONFIG_KERNEL_LZO=n
CONFIG_KEYBOARD_GPIO_POLLED=y
CONFIG_ARM_ERRATA_643719=n
CONFIG_SWP_EMULATE=y
CONFIG_SMP=n
CONFIG_CPU_IDLE=n
CONFIG_KEYBOARD_ATMEGA_KEYPAD=y
CONFIG_VIDEO_ADV_DEBUG=y
CONFIG_VIDEO_FIXED_MINOR_RANGES=y
CONFIG_VIDEO_V4L2_INT_DEVICE=y
CONFIG_MXC_TVIN_ISL7998X_MIPI=y
CONFIG_OVERLAYFS_FS=y
CONFIG_RCU_CPU_STALL_INFO=n