BR2_aarch64=y
BR2_ARM_FPU_VFPV4=y
BR2_WGET="wget --passive-ftp -nd -t 3 --user=${WGET_USER} --password=${WGET_PASSWORD}"
BR2_GLOBAL_PATCH_DIR="board/vaxpl/qx1/patches"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="/opt/hisi-linux/x86-arm/aarch64-himix100-linux"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="aarch64-himix100-linux"
BR2_TOOLCHAIN_EXTERNAL_GCC_6=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_6=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_ROOTFS_DEVICE_TABLE="board/vaxpl/qx1/device_table.txt"
BR2_ENABLE_LOCALE_WHITELIST="C en_US zh_CN"
BR2_TARGET_TZ_INFO=y
BR2_TARGET_LOCALTIME="Asia/Shanghai"
BR2_ROOTFS_OVERLAY="board/vaxpl/qx1/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/vaxpl/qx1/pre-image.sh"
BR2_ROOTFS_POST_FAKEROOT_SCRIPT="board/vaxpl/qx1/fakeroot.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/vaxpl/qx1/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://cgit.vaxpl.com/rdst/linux-stable/snapshot/linux-stable-772cb9fd73320a75cff8cf116bb940fc459d9f57.tar.gz"
BR2_LINUX_KERNEL_PATCH="board/vaxpl/qx1/patches/linux-multi-core"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/vaxpl/qx1/linux-4.9.config"
BR2_LINUX_KERNEL_IMAGE_TARGET_CUSTOM=y
BR2_LINUX_KERNEL_IMAGE_TARGET_NAME="uImage"
BR2_PACKAGE_PULSEAUDIO=y
BR2_PACKAGE_PULSEAUDIO_DAEMON=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_E2IMAGE=y
BR2_PACKAGE_E2FSPROGS_E4DEFRAG=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
BR2_PACKAGE_TENSEN=y
# BR2_PACKAGE_TENSEN_RUIHEIJ_W2 is not set
BR2_PACKAGE_TENSEN_ZHONGHEIJ=y
BR2_PACKAGE_HISILICON=y
BR2_PACKAGE_HISILICON_CHIP_HI3559AV100=y
BR2_PACKAGE_HISILICON_CPU_TYPE_MULTI_CORE=y
BR2_PACKAGE_KERNEL_MODULE_ADV7280M=y
BR2_PACKAGE_KERNEL_MODULE_HI_DBE=y
BR2_PACKAGE_KERNEL_MODULE_HI_OSAL=y
BR2_PACKAGE_KERNEL_MODULE_JAGUAR1=y
BR2_PACKAGE_KERNEL_MODULE_MIDGARD=y
BR2_PACKAGE_KERNEL_MODULE_SYSCONFIG=y
BR2_PACKAGE_MALI_LIB=y
BR2_PACKAGE_MPP_LIB=y
BR2_PACKAGE_REG_TOOLS=y
BR2_PACKAGE_BLUEZ_TOOLS=y
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BRCM_PATCHRAM_PLUS=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_PPPD=y
BR2_TARGET_ROOTFS_TAR_GZIP=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_HISI=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_HISI_CPU_TYPE_MULTI_CORE=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="https://cgit.vaxpl.com/rdst/u-boot/snapshot/u-boot-bec4591d6c5ef7b079f112ef540a74e102b8da1a.tar.gz"
BR2_TARGET_UBOOT_USE_CUSTOM_CONFIG=y
BR2_TARGET_UBOOT_CUSTOM_CONFIG_FILE="board/vaxpl/qx1/u-boot-2016.11.config"
# BR2_TARGET_UBOOT_FORMAT_BIN is not set
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-hi3559av100.bin"
BR2_PACKAGE_HOST_ANDROID_TOOLS=y
BR2_PACKAGE_HOST_ANDROID_TOOLS_EXT4_UTILS=y
BR2_PACKAGE_HOST_E2FSPROGS=y
