BR2_x86_64=y
BR2_x86_core2=y
BR2_WGET="wget --passive-ftp -nd -t 3 --user=${WGET_USER} --password=${WGET_PASSWORD}"
BR2_GLOBAL_PATCH_DIR="board/tdc/etlmd-v2/patches"
BR2_TOOLCHAIN_BUILDROOT_VENDOR="etlmdv2"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_4=y
BR2_GLIBC_VERSION_2_24=y
BR2_BINUTILS_VERSION_2_27_X=y
BR2_GCC_VERSION_6_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_ENABLE_LTO=y
BR2_GCC_ENABLE_OPENMP=y
BR2_TOOLCHAIN_GLIBC_GCONV_LIBS_COPY=y
BR2_TARGET_GENERIC_HOSTNAME="etlmdv2lp"
BR2_TARGET_GENERIC_ISSUE="Welcome to ETLMD v2 (LP)"
BR2_ROOTFS_DEVICE_TABLE="board/tdc/etlmd-v2-lp/device_table.txt"
BR2_TARGET_GENERIC_ROOT_PASSWD="iaos%55/20"
# BR2_TARGET_GENERIC_GETTY is not set
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_SYSTEM_DHCP="eth0"
BR2_ENABLE_LOCALE_WHITELIST="C en_US zh_CN zh_TW"
BR2_TARGET_TZ_INFO=y
BR2_TARGET_LOCALTIME="Asia/Shanghai"
BR2_ROOTFS_OVERLAY="board/tdc/etlmd-v2-lp/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/tdc/etlmd-v2-lp/pre-image.sh"
BR2_ROOTFS_POST_FAKEROOT_SCRIPT="board/tdc/etlmd-v2-lp/fakeroot.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/tdc/etlmd-v2-lp/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://10.0.2.2/cgit/rdst/linux-stable.git/snapshot/linux-stable-4.4.43.tar.bz2"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/tdc/etlmd-v2-lp/linux-4.4.y.config"
BR2_PACKAGE_BUSYBOX_CUSTOM_TARBALL=y
BR2_PACKAGE_BUSYBOX_CUSTOM_TARBALL_LOCATION="https://10.0.2.2/cgit/rdst/busybox.git/snapshot/busybox-1_26_4.tar.bz2"
BR2_PACKAGE_BUSYBOX_CUSTOM_TARBALL_STRIP_COMPONENTS=1
BR2_PACKAGE_BUSYBOX_CONFIG="board/tdc/common/busybox.config"
BR2_PACKAGE_BUSYBOX_WATCHDOG=y
BR2_PACKAGE_LIBAV=y
BR2_PACKAGE_LIBAV_GPL=y
BR2_PACKAGE_LIBAV_NONFREE=y
BR2_PACKAGE_LIBAV_AVPROBE=y
BR2_PACKAGE_LIBAV_AVRESAMPLE=y
BR2_PACKAGE_LIBAV_POSTPROC=y
BR2_PACKAGE_LIBAV_SWSCALE=y
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_JQ=y
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_FATLABEL=y
BR2_PACKAGE_DOSFSTOOLS_FSCK_FAT=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_E4DEFRAG=y
BR2_PACKAGE_E2FSPROGS_FUSE2FS=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
BR2_PACKAGE_FB_TEST_APP=y
BR2_PACKAGE_ACPID=y
BR2_PACKAGE_GPTFDISK=y
BR2_PACKAGE_GPTFDISK_GDISK=y
BR2_PACKAGE_GPTFDISK_SGDISK=y
BR2_PACKAGE_NODEJS=y
BR2_PACKAGE_NODEJS_NPM=y
BR2_PACKAGE_NODEJS_MODULES_ADDITIONAL="debug ejs forever fs-extra body-parser cookie-parser log4js multer multiparty node-ssdp serve-index serve-static tracer diskusage posix ftp express"
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON3_CODECSCJK=y
BR2_PACKAGE_PYTHON3_DECIMAL=y
BR2_PACKAGE_PYTHON3_READLINE=y
BR2_PACKAGE_PYTHON3_SSL=y
BR2_PACKAGE_PYTHON3_SQLITE=y
BR2_PACKAGE_PYTHON3_ZLIB=y
BR2_PACKAGE_ALSA_LIB=y
BR2_PACKAGE_OPENSSL_BIN=y
BR2_PACKAGE_FONTCONFIG=y
BR2_PACKAGE_LIBDRM_INTEL=y
BR2_PACKAGE_LIBDRM_RADEON=y
BR2_PACKAGE_LIBDRM_AMDGPU=y
BR2_PACKAGE_LIBDRM_NOUVEAU=y
BR2_PACKAGE_LIBDRM_VMWGFX=y
BR2_PACKAGE_LIBVA=y
BR2_PACKAGE_OPENCV=y
BR2_PACKAGE_OPENCV_LIB_GPU=y
BR2_PACKAGE_OPENCV_LIB_NONFREE=y
BR2_PACKAGE_OPENCV_WITH_JASPER=y
BR2_PACKAGE_OPENCV_WITH_JPEG=y
BR2_PACKAGE_OPENCV_WITH_PNG=y
BR2_PACKAGE_OPENCV_WITH_TIFF=y
BR2_PACKAGE_OPENCV_WITH_V4L=y
BR2_PACKAGE_OPENCV_INSTALL_DATA=y
BR2_PACKAGE_TSLIB=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_X264=y
BR2_PACKAGE_X265=y
BR2_PACKAGE_LINUX_PAM=y
BR2_PACKAGE_ICU=y
BR2_PACKAGE_PCRE=y
BR2_PACKAGE_PCRE_16=y
BR2_PACKAGE_PCRE_32=y
BR2_PACKAGE_PCRE_UCP=y
BR2_PACKAGE_TDC=y
BR2_PACKAGE_ETLMD_IA=y
BR2_PACKAGE_ETLMD_IA_CUSTOM_VERSION=y
BR2_PACKAGE_ETLMD_IA_BGP=y
BR2_PACKAGE_ETLMD_IA_DATA=y
BR2_PACKAGE_ETLMD_IA_SCRIPTS=y
BR2_PACKAGE_ETLMD_IA_WS=y
BR2_PACKAGE_LIBPES_LEGACY=y
BR2_PACKAGE_LIBSBC=y
BR2_PACKAGE_LIBSTREAM_LEGACY=y
BR2_PACKAGE_XPR_LEGACY=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_PROFTPD=y
BR2_PACKAGE_PROFTPD_MOD_REWRITE=y
BR2_PACKAGE_OPKG=y
BR2_PACKAGE_OPKG_GPG_SIGN=y
BR2_PACKAGE_DIALOG=y
BR2_PACKAGE_FILE=y
BR2_PACKAGE_GNUPG_AES=y
BR2_PACKAGE_GNUPG_RSA=y
BR2_PACKAGE_GNUPG_GPGV=y
BR2_PACKAGE_GNUPG_GPGSPLIT=y
BR2_PACKAGE_INCRON=y
BR2_PACKAGE_MONIT=y
BR2_PACKAGE_UTIL_LINUX_LIBMOUNT=y
BR2_PACKAGE_UTIL_LINUX_LSBLK=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_SQUASHFS=y
# BR2_TARGET_ROOTFS_TAR is not set
