BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_VFP=y
BR2_ARM_EABI=y
BR2_WGET="wget --passive-ftp -nd -t 3 --no-check-certificate --user=${WGET_USER} --password=${WGET_PASSWORD}"
BR2_GLOBAL_PATCH_DIR="board/tdc/cvr-v1/patches"
BR2_TOOLCHAIN_BUILDROOT_VENDOR="cvrv1"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_0=y
BR2_UCLIBC_VERSION_0_9_33=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_PTHREAD_DEBUG=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
BR2_BINUTILS_VERSION_2_27_X=y
BR2_GCC_VERSION_4_9_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_ENABLE_LTO=y
BR2_GCC_ENABLE_OPENMP=y
BR2_GCC_ENABLE_GRAPHITE=y
BR2_TARGET_GENERIC_HOSTNAME="cvr-v1"
BR2_TARGET_GENERIC_ISSUE="Welcome to CVR-V1"
BR2_ROOTFS_DEVICE_TABLE="board/tdc/cvr-v1/device_table.txt"
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_SYSTEM_DHCP="eth0"
# BR2_ENABLE_LOCALE_PURGE is not set
BR2_TARGET_TZ_INFO=y
BR2_TARGET_LOCALTIME="Asia/Shanghai"
BR2_ROOTFS_OVERLAY="board/tdc/cvr-v1/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/tdc/cvr-v1/pre-image.sh"
BR2_ROOTFS_POST_FAKEROOT_SCRIPT="board/tdc/cvr-v1/fakeroot.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/tdc/cvr-v1/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://10.0.2.2/cgit/rdst/linux-stable.git/snapshot/linux-stable-3.0.8-Hi3531-V1.0.D.0-13.tar.bz2"
BR2_LINUX_KERNEL_PATCH="board/tdc/cvr-v1/patches/linux/3.0.8"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/tdc/cvr-v1/linux-3.0.8.config"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_XZ=y
BR2_PACKAGE_BUSYBOX_CUSTOM_TARBALL=y
BR2_PACKAGE_BUSYBOX_CUSTOM_TARBALL_LOCATION="https://10.0.2.2/cgit/rdst/busybox.git/snapshot/busybox-1_26_5.tar.bz2"
BR2_PACKAGE_BUSYBOX_CUSTOM_TARBALL_STRIP_COMPONENTS=1
BR2_PACKAGE_BUSYBOX_CONFIG="board/tdc/common/busybox.config"
BR2_PACKAGE_BUSYBOX_WATCHDOG=y
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_FFMPEG=y
BR2_PACKAGE_FFMPEG_GPL=y
BR2_PACKAGE_FFMPEG_NONFREE=y
BR2_PACKAGE_FFMPEG_AVRESAMPLE=y
BR2_PACKAGE_FFMPEG_POSTPROC=y
BR2_PACKAGE_FFMPEG_SWSCALE=y
BR2_PACKAGE_GETTEXT=y
BR2_PACKAGE_JQ=y
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_FATLABEL=y
BR2_PACKAGE_DOSFSTOOLS_FSCK_FAT=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
BR2_PACKAGE_F2FS_TOOLS=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_FB_TEST_APP=y
BR2_PACKAGE_QT=y
BR2_PACKAGE_QT_LICENSE_APPROVED=y
BR2_PACKAGE_QT_PIXEL_DEPTH_15=y
BR2_PACKAGE_QT_PIXEL_DEPTH_24=y
BR2_PACKAGE_QT_FONT_UNIFONT=y
BR2_PACKAGE_QT_SYSTEMFREETYPE=y
BR2_PACKAGE_QT_GIF=y
BR2_PACKAGE_QT_LIBMNG=y
BR2_PACKAGE_QT_SYSTEMJPEG=y
BR2_PACKAGE_QT_SYSTEMPNG=y
BR2_PACKAGE_QT_SYSTEMTIFF=y
BR2_PACKAGE_QT_ACCESSIBILITY=y
BR2_PACKAGE_QT_SYSTEMZLIB=y
BR2_PACKAGE_QT_SQL_MODULE=y
BR2_PACKAGE_QT_SQLITE_SYSTEM=y
BR2_PACKAGE_QT_MOUSE_PC=y
BR2_PACKAGE_QT_MOUSE_TSLIB=y
BR2_PACKAGE_QT_KEYBOARD_TTY=y
BR2_PACKAGE_QT_KEYBOARD_LINUXINPUT=y
BR2_PACKAGE_QT_XMLPATTERNS=y
BR2_PACKAGE_QT_MULTIMEDIA=y
BR2_PACKAGE_QT_AUDIO_BACKEND=y
BR2_PACKAGE_QT_SVG=y
BR2_PACKAGE_QT_STL=y
BR2_PACKAGE_QT_OPENSSL=y
# BR2_PACKAGE_QT_SCRIPT is not set
BR2_PACKAGE_QT_TEST=y
BR2_PACKAGE_HISILICON=y
BR2_PACKAGE_HISILICON_PLATFORM_HI3531=y
BR2_PACKAGE_MPP_KO=y
BR2_PACKAGE_MPP_LIB=y
BR2_PACKAGE_REG_TOOLS=y
BR2_PACKAGE_REG_TOOLS_GPIO_I2C=y
BR2_PACKAGE_LSSCSI=y
BR2_PACKAGE_LSHW=y
BR2_PACKAGE_JPEG_MPP_LIB=y
BR2_PACKAGE_EXPAT=y
BR2_PACKAGE_ZLOG=y
BR2_PACKAGE_LIVE555_CUSTOM_TARBALL=y
BR2_PACKAGE_LIVE555_CUSTOM_TARBALL_LOCATION="https://10.0.2.2/cgit/rdst/live.git/snapshot/live-2016.11.17-2.tar.bz2"
BR2_PACKAGE_LIVE555_CUSTOM_TARBALL_STRIP_COMPONENTS=1
BR2_PACKAGE_LIVE555_FORCE_STATIC_LIBS=y
BR2_PACKAGE_LIBMODBUS=y
BR2_PACKAGE_LIBINI=y
BR2_PACKAGE_TDC=y
BR2_PACKAGE_AAC_AUDIO_LIB=y
BR2_PACKAGE_LIBMAL=y
BR2_PACKAGE_LIBMAL_CUSTOM_VERSION=y
BR2_PACKAGE_LIBMAL_CUSTOM_VERSION_VALUE="1.0.2-CVR-V1"
BR2_PACKAGE_LIBPES_LEGACY=y
BR2_PACKAGE_LIBXD_MUXER=y
BR2_PACKAGE_LIBXD_PLAYER=y
BR2_PACKAGE_LIBXD_PLAYER_CUSTOM_VERSION=y
BR2_PACKAGE_LIBXD_PLAYER_CUSTOM_VERSION_VALUE="1.0.0-CVR-V1"
BR2_PACKAGE_LIBXD_STREAM=y
BR2_PACKAGE_LIBXD_STREAM_CUSTOM_VERSION=y
BR2_PACKAGE_LIBXD_STREAM_CUSTOM_VERSION_VALUE="4.2.1"
BR2_PACKAGE_VRS_PLUGINS=y
BR2_PACKAGE_VRS_PLUGINS_CUSTOM_VERSION=y
BR2_PACKAGE_VRS_QT=y
BR2_PACKAGE_VRS_QT_CUSTOM_VERSION=y
BR2_PACKAGE_VRS_QT_CUSTOM_VERSION_VALUE="1.0.3"
BR2_PACKAGE_XPR_CUSTOM_VERSION=y
BR2_PACKAGE_XPR_CUSTOM_VERSION_VALUE="2.0.1-CVR-V1"
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_OPKG=y
BR2_PACKAGE_OPKG_GPG_SIGN=y
BR2_PACKAGE_GNUPG_AES=y
BR2_PACKAGE_GNUPG_RSA=y
BR2_PACKAGE_GNUPG_GPGV=y
BR2_PACKAGE_GNUPG_GPGSPLIT=y
BR2_PACKAGE_MONIT=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_TARGET_ROOTFS_CRAMFS=y
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="godnet"
BR2_TARGET_UBOOT_CUSTOM_TARBALL=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="https://10.0.2.2/cgit/rdst/u-boot.git/snapshot/u-boot-2010.06-Hi3531-V1.0.D.0-3.tar.bz2"
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MKE2IMG=y
BR2_PACKAGE_HOST_MTOOLS=y
